@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BB School</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to BB School</h2>
        <p>
            BB School is the finest school in all the realm.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44362/Student/Create">Sign up here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Learn to Fight</h2>
        <p>Learn all hte latest sword forms and styles that will have even the black knight quaking in his boots</p>
        
    </div>
    <div class="col-md-4">
        <h2>Archery</h2>
        <p>You ever see that apple on a tree that you just cant reach, our training with a bow can help you fix that</p>
        
    </div>
</div>